[submodule "vimfiles/bundle/vim-razor"]
	path = vimfiles/bundle/vim-razor
	url = https://github.com/adamclerk/vim-razor.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/matchit.vim"]
	path = vimfiles/bundle/matchit.vim
	url = https://github.com/tmhedberg/matchit.git
[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
