[submodule "vimfiles/bundle/vim-razor"]
	path = vimfiles/bundle/vim-razor
	url = https://github.com/adamclerk/vim-razor.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/matchit.vim"]
	path = vimfiles/bundle/matchit.vim
	url = https://github.com/tmhedberg/matchit.git
[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/auto-pairs"]
	path = vimfiles/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vimfiles/bundle/javascript-libraries-syntax"]
	path = vimfiles/bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
